@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
	font-family: 'Canela-Light';
	src: url('https://assets.codepen.io/495601/Canela-Light.ttf')  format('truetype');
}

@font-face {
	font-family: 'Canela-Medium';
	src: url('https://assets.codepen.io/495601/Canela-Medium.ttf')  format('truetype');
}

@font-face {
	font-family: 'Chap-Bold';
	src: url('https://assets.codepen.io/495601/Chap-Semibold.ttf')  format('truetype');
}

@font-face {
	font-family: 'Chap-Light';
	src: url('https://assets.codepen.io/495601/Chap-Light.ttf')  format('truetype');
}

@font-face {
	font-family: 'Miller-Text';
	src: url('https://assets.codepen.io/495601/MillerText-Roman.ttf')  format('truetype');
}

@font-face {
	font-family: 'Miller-Display';
	src: url('https://assets.codepen.io/495601/MillerDisplay-Light.ttf')  format('truetype');
}

@font-face {
	font-family: 'Miller-Italic';
	src: url('https://assets.codepen.io/495601/MillerText-Italic.ttf')  format('truetype');
}

@font-face {
	font-family: 'Elderkin';
	src: url('https://assets.codepen.io/495601/Elderkin-Bold.ttf')  format('truetype');
}

@font-face {
	font-family: 'Balto';
	src: url('https://assets.codepen.io/495601/balto-book.ttf')  format('truetype');
}

@font-face {
	font-family: 'Balto-Bold';
	src: url('https://assets.codepen.io/495601/balto-bold.ttf')  format('truetype');
}




@layer components {

  /* the cut standard lede styles */
  .thecut .lede-container {
    @apply max-w-6xl m-auto my-24 pt-4 border-t border-black;
  }

  .thecut .meta {
    @apply uppercase text-chap-xs mb-5;
  }

  .thecut .tag {
    @apply font-chap-bold border-r border-red-500 pr-2;
  }

  .thecut .date {
    @apply font-chap pl-3;
  }

  .thecut .lede-headline {
   @apply font-canela text-canela-2xl mb-3;
  }

  .thecut .byline {
   @apply font-chap text-chap-3xs border-b border-gray-300 pb-4 mb-8 tracking-wider;
  }

  .thecut .image {
    @apply w-2/3 mb-2;
  }

  .thecut .credit {
   @apply font-chap text-gray-500 text-chap-2xs tracking-normal;
  }

  /* vulture standard lede styles */
  .vulture .lede-container {
    @apply max-w-6xl m-auto my-24 pt-4 border-t-3 border-black;
  }

  .vulture .meta {
    @apply uppercase mb-5;
  }

  .vulture .tag {
    @apply font-elderkin text-elderkin-xs border-r border-vulture-blue pr-2;
  }

  .vulture .date {
    @apply font-miller-text text-miller-text-2xs pl-3;
  }

  .vulture .lede-headline {
   @apply font-miller-text text-miller-text-xl mb-2;
  }

  .vulture .byline {
   @apply font-miller-italic text-miller-text-xs border-b border-gray-300 pb-4 mb-8;
  }

  .vulture .image {
    @apply w-2/3 mb-2;
  }

  .vulture .credit {
   @apply font-miller-text text-gray-500 text-miller-text-2xs tracking-wider;
  }



}

.vox-highlight:after {
  content: '';
  position: absolute;
  left: -3px;
  top: 1px;
  display: inline-block;
  width: 56px;
  height: 8px;
  background-color: #fff;
  margin-top: 5px;
  z-index: -1;
}