@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
	font-family: 'Canela-Light';
	src: url('https://assets.codepen.io/495601/Canela-Light.ttf')  format('truetype');
}

@font-face {
	font-family: 'Chap-Bold';
	src: url('https://assets.codepen.io/495601/Chap-Semibold.ttf')  format('truetype');
}

@font-face {
	font-family: 'Chap-Light';
	src: url('https://assets.codepen.io/495601/Chap-Light.ttf')  format('truetype');
}

@font-face {
	font-family: 'Miller-Text';
	src: url('https://assets.codepen.io/495601/MillerText-Roman.ttf')  format('truetype');
}

@font-face {
	font-family: 'Miller-Display';
	src: url('https://assets.codepen.io/495601/MillerDisplay-Light.ttf')  format('truetype');
}

@font-face {
	font-family: 'Miller-Italic';
	src: url('https://assets.codepen.io/495601/MillerText-Italic.ttf')  format('truetype');
}

@font-face {
	font-family: 'Elderkin';
	src: url('https://assets.codepen.io/495601/Elderkin-Bold.ttf')  format('truetype');
}

@layer components {

  /* the cut standard lede styles */
  .thecut .lede-container {
    @apply max-w-6xl m-auto my-24 pt-4 border-t border-black;
  }

  .thecut .meta {
    @apply uppercase text-chap-2xs mb-5;
  }

  .thecut .tag {
    @apply font-chap-bold;
  }

  .thecut .tag-separator {
    @apply text-red-500 px-2;
  }

  .thecut .date {
    @apply font-chap;
  }

  .thecut .lede-headline {
   @apply font-canela text-canela-2xl mb-2;
  }

  .thecut .byline {
   @apply font-chap text-chap-2xs border-b border-gray-300 pb-4 mb-8;
  }

  .thecut .image {
    @apply w-2/3 mb-2;
  }

  .thecut .credit {
   @apply font-chap text-gray-500 text-chap-2xs tracking-normal;
  }

  /* vulture standard lede styles */
  .vulture .lede-container {
    @apply max-w-6xl m-auto my-24 pt-4 border-t-2 border-black;
  }

  .vulture .meta {
    @apply uppercase mb-5;
  }

  .vulture .tag {
    @apply font-elderkin text-elderkin-xs;
  }

  .vulture .tag-separator {
    @apply text-blue-500 px-2;
  }

  .vulture .date {
    @apply font-miller-text text-miller-text-xs;
  }

  .vulture .lede-headline {
   @apply font-miller-text text-miller-text-xl mb-2;
  }

  .vulture .byline {
   @apply font-miller-italic text-miller-text-xs border-b border-gray-300 pb-4 mb-8;
  }

  .vulture .image {
    @apply w-2/3 mb-2;
  }

  .vulture .credit {
   @apply font-miller-text text-gray-500 text-miller-text-2xs tracking-wider;
  }



}