@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
	font-family: 'Canela-Light';
	src: url('https://assets.codepen.io/495601/Canela-Light.ttf')  format('truetype');
}

@font-face {
	font-family: 'Chap-Bold';
	src: url('https://assets.codepen.io/495601/Chap-Semibold.ttf')  format('truetype');
}

@font-face {
	font-family: 'Chap-Light';
	src: url('hhttps://assets.codepen.io/495601/Chap-Light.ttf')  format('truetype');
}

@font-face {
	font-family: 'Miller';
	src: url('https://assets.codepen.io/495601/MillerText-Roman.ttf')  format('truetype');
}

@font-face {
	font-family: 'Miller-Display';
	src: url('https://assets.codepen.io/495601/MillerDisplay-Light.ttf')  format('truetype');
}

@font-face {
	font-family: 'Miller-Italic';
	src: url('https://assets.codepen.io/495601/MillerText-Italic.ttf')  format('truetype');
}

@font-face {
	font-family: 'Elderkin';
	src: url('https://assets.codepen.io/495601/Elderkin-Bold.ttf')  format('truetype');
}


@layer base {

  .vox--vars {
    --headline-font-family: 'Courier';
    --background-color-primary: '#fff200';
  }
  
  .thecut--vars {
    --headline-font-family: 'Georgia';
    --background-color-primary: '#e5e7eb';
  }
}

@layer components {
  .vox .lede-headline {
    @apply font-serif text-xl bg-yellow-300;
  }

  .thecut .lede-headline {
    @apply font-sans text-3xl bg-gray-200;
  }
}